.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid #abc;
  background-color: var(--color-white);
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 32px;
  background-color: var(--color-white);
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.header__logo.logo_mobile {
  display: none;
}

.header_navigation.header_navigation__list {
  display: flex;
  gap: 30px;
}

.header_navigation.navigation_burger {
  display: none;
}

.header_navigation.header_navigation__list li a {
  font-size: 17px;
}

.navigation_burger {
  width: 28px;
  height: 21px;
  cursor: pointer;
  flex-direction: column;
  gap: 6px;
}

.navigation_burger span {
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-light-gray);
  transition: var(--hover-transition);
}

.navigation_burger:hover span {
  background-color: var(--color-main-text);
}

@media screen and (max-width: 965px) {
  .header_navigation.navigation_burger {
    display: flex;
  }
  .header_navigation.header_navigation__list {
    display: none;
  }

  .header_navigation.header_navigation__list.mobile_navigation {
    position: absolute;
    top: var(--header-height);
    right: 0;
    display: block;
    width: 100%;
  }

  .header_navigation.header_navigation__list.mobile_navigation li {
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--color-white);
  }

  .header_navigation.header_navigation__list.mobile_navigation li:hover {
    background-color: var(--color-light-gray);
    color: var(--color-white);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 50px
  }
  .header {
    padding: 0 15px;
  }

  .header__logo.logo_full {
    display: none;
  }

  .header__logo.logo_mobile {
    display: inline-block;
  }
}


