footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-backgroung-color);
  width: 100%;
  height: 218px;
}

.footer__container {
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__image {
  width: 85px;
}

.footer__container ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__container ul li a {
  font-weight: bold;
  font-size: 17px;
  color: var(--color-white);
}

.footer__container ul li a:hover {
  color: var(--color-main-text);
}

.footer__contact li .social_links {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.social_icon {
  height: 14px;
  filter: invert(100%);
  transition: var(--hover-transition);
}

.social_icon:hover {
  filter: invert(30%) sepia(44%) saturate(323%) hue-rotate(168deg) brightness(88%) contrast(82%);
}


@media (max-width: 650px) {
  footer {
    height: 369px;
    padding: 45px 0;
    font-size: 15px;
    line-height: 1;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer__container ul {
    align-items: center;
  }

  .footer__image {
    display: none;
  }

  .footer__container ul li a {
    font-size: 15px;
  }
}
