:root {
  --color-white: #fff;
  --color-text: #7f7f7f;
  --color-light-gray: #abc;
  --color-main-text: #445566;
  --header-height: 70px;
  --hover-transition: all 0.3s ease-in-out;
  --footer-backgroung-color:  #4a4a4a;
  --color-background: #f9f9f9;
}

* {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-main-text);
}

html, body {
  height: 100%;
}

body, #root {
  display: flex;
  flex-direction: column;
}

#root, main {
  flex: 1 0 auto;
}

main {
  padding-top: var(--header-height);
  height: 100%;
  /* flex: 1 0 auto; */
}

footer {
  flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  line-height: normal;
  text-decoration: none;
  color: var(--color-text);
  transition: var(--hover-transition);
}

a:hover {
  color: var(--color-main-text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  transition: var(--hover-transition);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 20px 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: var(--color-text);
  background-image: url('./images/icons/drop-down-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 3px) center;
  background-size: 15px;
  outline: none;
}

option {
  padding: 0;
}

.container {
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1160px) {
  .container {
    width: 100%;
  } 
}

.inner_container {
  margin: 0 auto;
  width: 630px;
}

@media screen and (max-width: 768px) {
  .inner_container {
    margin: 0 30px;
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .inner_container {
    margin: 0 15px;
    width: 290px;
  }
}
